<app-navbar></app-navbar>

<div class="app-container">
  <div class="">
    <div class=" rounded-3 p-4">

      <app-inputs></app-inputs>




      <!-- Historial estilo Wordle -->
      <div *ngIf="historial.length">
        <h2 class="fw-semibold mb-2">Historial</h2>
        <div class="d-flex flex-column gap-2">
          <div *ngFor="let g of historial" class="d-flex gap-1">
            <div *ngFor="let l of g.letters"
                 class="d-flex align-items-center justify-content-center fw-bold rounded border"
                 [ngClass]="{
                   'bg-secondary text-dark': l.state === 'absent',
                   'bg-warning text-white': l.state === 'present',
                   'bg-success text-white': l.state === 'correct'
                 }"
                 style="width: 2.5rem; height: 3rem; font-size: 1.5rem;"
            >
              {{ l.char }}
            </div>
          </div>
        </div>
      </div>

      <!-- Estado y reinicio -->
      <div class="mt-4 d-flex justify-content-between align-items-center">
        <div *ngIf="estado === 'ganado'" class="text-success fw-bold fs-5">🎉 Ganaste</div>
        <div *ngIf="estado === 'perdido'" class="text-danger fw-bold fs-5">😞 Perdido</div>
      </div>
    </div>
  </div>
</div>
